<h1>Staff</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <%= link_to 'Add Receptionist', new_receptionist_registration_path, class: 'btn btn-primary' %>
            <%= link_to 'Add Doctor', new_doctor_registration_path, class: 'btn btn-primary' %>
        </div>
    </div>
    <% if @doctors.any? || @receptionists.any? %>
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">
                <table class="table table-striped text-center">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% (@doctors + @receptionists).each do |staff| %>
                            <tr>
                                <td><%= link_to staff.full_name,'#', class: 'row-link' %></td>
                                <td><%= staff.email %></td>
                                <td><%= staff.role %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    <% else %>
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">
                <p class="text-center"><i>No receptionists or doctors found</i></p>
            </div>
        </div>
    <% end %>
</div>