<div id="<%= dom_id patient %>">
  <p>
    <strong>First name:</strong>
    <%= patient.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= patient.last_name %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= patient.dob %>
  </p>

  <p>
    <strong>Is alive:</strong>
    <%= patient.is_alive %>
  </p>

  <p>
    <strong>Emergency contact full name:</strong>
    <%= patient.emergency_contact_full_name %>
  </p>

  <p>
    <strong>Emergency contact phone number:</strong>
    <%= patient.emergency_contact_phone_number %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= patient.phone_number %>
  </p>

  <% if doctor_signed_in? %>
    <p>
      <strong>Diagnosis:</strong>
      <%= patient.diagnosis %>
    </p>

    <p>
      <strong>Treatment:</strong>
      <%= patient.treatment %>
    </p>

    <p>
      <strong>Next Appointment Date:</strong>
      <%= patient.next_appointment_date %>
    </p>
  <% end %>

</div>