<!-- This view fixes stored XSS vulnerability by sanitizing all user inputs -->
<div id="<%= dom_id patient %>">
  <p>
    <strong>First name:</strong>
    <%= sanitize patient.first_name, tags: [], attributes: [] %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= sanitize patient.last_name, tags: [], attributes: [] %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= patient.dob %>
  </p>

  <p>
    <strong>Is alive:</strong>
    <%= patient.is_alive %>
  </p>

  <p>
    <strong>Emergency contact full name:</strong>
    <%= sanitize patient.emergency_contact_full_name, tags: [], attributes: [] %>
  </p>

  <p>
    <strong>Emergency contact phone number:</strong>
    <%= sanitize patient.emergency_contact_phone_number, tags: [], attributes: [] %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= sanitize patient.phone_number, tags: [], attributes: [] %>
  </p>

  <p>
    <strong>Diagnosis:</strong>
    <%= sanitize patient.diagnosis, tags: ['b', 'i', 'em', 'strong'], attributes: [] %>
  </p>

  <p>
    <strong>Treatment:</strong>
    <%= sanitize patient.treatment, tags: ['b', 'i', 'em', 'strong', 'ul', 'li', 'p'], attributes: [] %>
  </p>

  <p>
    <strong>Next Appointment Date:</strong>
    <%= patient.next_appointment_date %>
  </p>

</div>