<!-- Contains stored xss vulnerabilities with html_safe and raw -->

<div id="<%= dom_id patient %>">
  <p>
    <strong>First name:</strong>
    <%= patient.first_name.html_safe %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= patient.last_name.html_safe %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= patient.dob %>
  </p>

  <p>
    <strong>Is alive:</strong>
    <%= patient.is_alive %>
  </p>

  <p>
    <strong>Emergency contact full name:</strong>
    <%= patient.emergency_contact_full_name.html_safe %>
  </p>

  <p>
    <strong>Emergency contact phone number:</strong>
    <%= patient.emergency_contact_phone_number.html_safe %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= patient.phone_number.html_safe %>
  </p>

  <p>
    <strong>Diagnosis:</strong>
    <%= raw patient.diagnosis %>
  </p>

  <p>
    <strong>Treatment:</strong>
    <%= raw patient.treatment %>
  </p>

  <p>
    <strong>Next Appointment Date:</strong>
    <%= patient.next_appointment_date %>
  </p>

</div>