<div id="<%= dom_id appointment %>">
  <p>
    <strong>Date:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= appointment.notes %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= appointment.name %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= appointment.patient_id %>
  </p>

</div>
