<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Medical Records App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Navbar needs 'navbar-expand-sm' class in order for nav links to display -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">

      <!-- Navbar toggler button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>-->

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" ><%= link_to 'Staff', staff_path, class: "nav-link #{'active' if request.path.starts_with?('/staff')}" %></li>
          <li class="nav-item" ><%= link_to 'Patients', patients_path, class: "nav-link #{'active' if request.path.starts_with?('/patients')}" %></li>
          <!-- Removed appointments link, not necessary anymore >
          <!--<li class="nav-item" ><%= link_to 'Appointments', appointments_path, class: "nav-link #{'active' if request.path.starts_with?('/appointments')}" %></li>-->
          <% if admin_signed_in? %>
            <li class="nav-item"><%= link_to 'Log Out', destroy_admin_session_path, class: 'nav-link' %></li>
          <% elsif doctor_signed_in? %>
            <li class="nav-item"><%= link_to 'Log Out', destroy_doctor_session_path, class: 'nav-link' %></li>
          <% elsif receptionist_signed_in? %>
            <li class="nav-item"><%= link_to 'Log Out', destroy_receptionist_session_path, class: 'nav-link' %></li>
          <% else %>
            <li class="nav-item" >
              <%= link_to 'Log In', login_path, class: "nav-link #{'active' if request.path.starts_with?('/login') || request.path.ends_with?('sign_in')}" %>
              </li>
          <% end %>
        </ul>

        <% if admin_signed_in? %>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <span class="nav-link disabled text-light"><b>Admin:</b> <%= current_admin.full_name %></span>
            </li>
          </ul>
        <% elsif receptionist_signed_in? %>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <span class="nav-link disabled text-light"><b>Receptionist:</b> <%= current_receptionist.full_name %></span>
            </li>
          </ul>
        <% elsif doctor_signed_in? %>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <span class="nav-link disabled text-light"><b>Doctor:</b> <%= current_doctor.full_name %></span>
            </li>
          </ul>
        <% end %>
      </div>

    </nav>

    <!-- Fixes DOM XSS vulnerability in unsecure_branch by using plain text-->  
    <div id="message-box"></div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var fragment = window.location.hash.substr(1);
        if (fragment) {
          document.getElementById('message-box').textContent = decodeURIComponent(fragment);
        }
      });
    </script>

    <%= yield %>
    <!--
    <% flash.each do |key, message| %>
      <div class="alert <%= key %>"><%= message %></div>
    <% end %>
    -->

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    
    <!-- Bootstrap tooltips -->
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })
      });
    </script>
  </body>
</html>
